<%- include('../partials/head') %>

<div class="auth-background">
  <div class="main-content">
    <div class="login-box">
      <h1>Sign up</h1>
      <form action="/auth/sign-up" method="POST">
        <div class="input-group">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" required />
        </div>
        <div class="input-group">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required />
        </div>
         <div class="input-group">
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" name="confirmPassword" id="confirmPassword" required />
        </div>
        <button type="submit">Sign up</button>
      </form>
      <p class="para-2">
        Have an account? <a href="/auth/sign-in">Sign In Here</a>
      </p>
    </div>
  </div>
</div>
</body>
</html>