<%- include('../partials/head') %>

<div class="add-game-background">
  <div class="add-game-container">
    <h2>Add a New Game</h2>

<% if (error === 'unsupported') { %>
  <div class="alert alert-danger">
    This image format is not supported.
  </div>
<% } %>



    <form action="/games" method="POST" enctype="multipart/form-data" class="add-game-form">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" required maxlength="25" />
      </div>

     <div class="form-group">
  <label>Platform</label><br />
  <div class="radio-group">
  <div>
    <label><input type="radio" name="platform" value="PC" required> PC</label>
  </div>
  <div>
    <label><input type="radio" name="platform" value="PlayStation" required> PlayStation</label>
  </div>
  <div>
    <label><input type="radio" name="platform" value="Xbox" required> Xbox</label>
  </div>
  <div>
    <label><input type="radio" name="platform" value="Nintendo" required> Nintendo</label>
  </div>
</div>
</div>


      <div class="form-group">
        <label for="paid">Paid</label>
        <input type="text" name="paid" id="paid" required maxlength="4" />
      </div>

    <div class="form-group">
  <label>Status</label><br />
  <div class="radio-group">
  <div>
    <label><input type="radio" name="status" value="Completed" required> Completed</label>
  </div>
  <div>
    <label><input type="radio" name="status" value="Playing" required> Playing</label>
  </div>
  <div>
    <label><input type="radio" name="status" value="Not Started" required> Not Started</label>
  </div>
</div>
</div>

      <div class="form-group">
        <label for="image">Upload Game Image</label>
        <input type="file" name="image" id="image" accept="image/*" required />
      </div>

      <button type="submit" class="submit-btn">Add Game</button>
    </form>
  </div>
</div>
